.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color-black, 0.8);
    z-index: 3000;
    transition: all 0.3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, 0.3);
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        width: 75%;
        background: $color-grey-light-1;
        text-align: center;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.25);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.5s 0.2s;
    }

    &__left {
        width: 40%;
        display: table-cell;
        vertical-align: middle;
        padding-left: 1rem;

        @include respond(phone) {
            display: none;
        }

        &-top {
            vertical-align: top;
            padding-top: 2rem;
            text-align: left;
            width: 60%;

            & .btn--rec {
                transform: translate(230%, -30%);
            }
        }
    }

    &__right {
        width: 60%;
        display: table-cell;
        vertical-align: middle;
        padding: 5rem 6rem;

        &-top {
            width: 40%;
            vertical-align: top;
            padding: 3rem 3rem;
            text-align: left;
        }

        &--small {
            padding: 1rem 1rem;
            width: 10% !important;
        }
    }

    &__center {
        width: 90%;
        display: table-cell;
        vertical-align: top;
        padding: 6rem 6rem;
    }

    &__top {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        padding: 5rem 6rem;

        &__img {
            display: block;
            width: 44rem;
            margin-left: 23rem;

            @include respond(phone) {
                display: none;
            }
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__heading {
        color: $color-primary-dark;
        font-size: 2.5rem;

        @include respond(phone-max) {
            font-size: 2rem;
        }
    }

    &__text {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 4rem;
        color: $color-primary;
        font-family: $font-nunito;

        @include respond(phone-max) {
            font-size: 1.8rem;
        }

        &-left {
            text-align: left;
        }
    }

    &__close {
        font-size: 3rem;
        color: $color-grey-light-1;
        font-weight: bold;
        position: absolute;
        top: 1rem;
        right: 2rem;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }
    }
}
