// COLORS
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-tertiary-light: #6d5d4b;
$color-tertiary-dark: #54483a;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #f2f2f2;
$color-grey-light-3: #fffdfd;

$color-grey-dark: #aaaaaa;

$color-white: #fff;
$color-black: #000;
$color-red: #cc0000;
$color-red-2: #d37e7e;

// FONT SIZES
$default-font-size: 1.6rem;

// Font Family
$font-josef: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', 'sans-serif';
