.sign-up {
    &__form {
        width: 50%;
        margin: 1rem;
        padding: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--input {
            width: 70%;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid $color-grey-dark;
            outline: none;
            align-self: center;
            font-family: $font-nunito;

            &::placeholder {
                font-family: $font-nunito;
            }

            &--small {
                width: 40% !important;
            }

            &--error {
                border: 2px solid $color-red !important;
            }
        }

        &--single-line {
            // background-color: $color-red;
            // width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &--select {
            width: 40%;
            padding: 1rem;
            outline: none;
            border: none;
            border-radius: 4px;
            color: $color-primary;
        }

        &--upload-button {
            font-size: 1.2rem !important;
            display: inline-block;

            & > input[type='file'] {
                display: none;
            }
        }

        &--btn {
            width: 60% !important;
            justify-self: center;
            align-self: center;
        }

        &--loader {
            width: 14rem;
            justify-self: center;
            align-self: center;

            & > img {
                width: 1rem;
            }
        }

        &--error {
            font-size: 1rem;
            font-weight: bold;
            color: $color-red;

            &-div {
                margin-top: 1px;
                width: 70%;
                text-align: right;
            }
        }

        & > div {
            width: 100%;
        }
    }

    &__svg {
        width: 52rem;

        @include respond(phone-max) {
            width: 46rem;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__realtors {
        background: $color-grey-light-1;
        width: 100%;
        color: $color-primary;

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include respond(phone) {
                display: block;
            }
        }
    }
}
